# DAT210x - Programming with Python for DS

## Module2 - Lab3

In [39]:
# Import and alias Pandas
import pandas as pd
import numpy as np

Often, you will want to load a dataset that is missing explicit header labels. You won't know if your data lacks headers or not unless you load it up and examine the headers to see if they make sense. Pandas by default reads in the first row of data as the header. If that isn't the case for your specific data set, you will lose your first data row. Be careful!

Load up the `Servo.data` dataset. Examine the headers, and adjust them as necessary, if need be.

In [41]:
df = pd.read_csv('Servo.data',header=None)
ColTypes

NameError: name 'ColTypes' is not defined

Let's try experimenting with some slicing. Create a slice that contains all entries that have a vgain equal to 5. Then print the length of (# of samples in) that slice:

In [4]:
df.columns = ['motor','screw','pgain','vgain','class']
len(df[df.vgain == 5])

22

In [35]:
table = pd.pivot_table(df, values=['vgain','pgain'], index=['motor', 'screw'],aggfunc={'vgain': np.mean,'pgain': [min, max, np.median]})
table

            pgain                vgain
              max median min      mean
motor screw
A     A         6      4   3  2.625000
      B         6      4   3  2.571429
      C         6      4   3  2.571429
      D         6      4   3  2.571429
      E         6      4   3  2.571429
B     A         6      4   3  2.625000
      B         6      4   3  2.571429
      C         6      4   3  2.571429
      D         6      4   3  2.571429
      E         6      4   3  2.571429
C     A         6      5   3  2.250000
      B         6      4   3  2.571429
      C         6      4   3  2.571429
      D         6      4   3  2.571429
      E         6      4   3  2.571429
D     A         6      4   3  2.571429
      B         6      4   3  2.571429
      C         4      3   3  2.000000
      D         4      3   3  2.000000
      E         3      3   3  1.500000
E     A         6      4   3  2.571429
      B         6      4   3  2.571429
      C         6      4   3  2.571429
      D         6      4   3  2.833333
      E         6      4   3  2.833333

In [19]:
df.loc[((df.motor=='E')&(df.screw=='E')&(df.pgain < 4)),['class']]

        class
35   1.100000
151  0.700001

Create a slice that contains all entries having a motor equal to E and screw equal to E. Then print the length of (# of samples in) that slice:

In [11]:
len(df[(df.motor == 'E') & (df.screw == 'E')])

6

Create a slice that contains all entries having a pgain equal to 4. Use one of the various methods of finding the mean vgain value for the samples in that slice. Once you've found it, print it:

In [19]:
temp = df[df.pgain==4]
temp['vgain'].mean()

2.0606060606060606

Here's a bonus activity for you. See what happens when you display the `.dtypes` property of your dataframe!

In [18]:
df.dtypes

motor     object
screw     object
pgain      int64
vgain      int64
class    float64
dtype: object