# DAT210x - Programming with Python for DS

## Module2 - Lab2

In [2]:
# Import and alias Pandas
import pandas as pd

Write code below to load up the `tutorial.csv` dataset. You can store it into a variable called df:

In [3]:
df =pd.read_csv("Module2 - Lab1.csv")

Now that your dataset has been loaded, invoke the `.describe()` method to display some results about it:

In [4]:
df.describe()

       Feature Name     Type       Class      Description
count             7        7           7                7
unique            7        2           3                7
top       Last name  Numeric  Continuous  Legal last name
freq              1        4           4                1

Lastly, try experimenting with indexing. Figure out which _indexing method_ you would need to use in order to index your dataframe with: `[2:4, 'col3']`. Finally, display the results:

In [20]:
df.loc[2:4, 'Class']

2    Continuous
3    Continuous
4       Nominal
Name: Class, dtype: object

In [8]:
df

      Feature Name     Type       Class                           Description
0            Goals  Numeric  Continuous    Number of Goals in a Calendar Year
1          Assists  Numeric  Continuous  Number of Assists in a Calendar Year
2  Chances created  Numeric  Continuous                       Chances created
3        Duels won  Numeric  Continuous                        one vs one won
4       First name  Textual     Nominal                      Legal first name
5        Last name  Textual     Nominal                       Legal last name
6           Skills  Textual     Ordinal                     Low, Medium, High