In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import sklearn.preprocessing  as sp

In [3]:
df=pd.read_csv('scaletest.csv',index_col=0)
df.head()

      Chem  Math  Phy
Name
A        1    11  -10
B        2    12   -9
C        3    13   -8
D        4    14   -7
E        5    15   -6

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,ytrain,ytest = train_test_split(df,status1,test_size=.5,random_state=7)

In [27]:
T = sp.StandardScaler()
#T = sp.MinMaxScaler()
#T = sp.MaxAbsScaler()
#T =sp.Normalizer()
#T =sp.RobustScaler()

In [28]:
df_ss=T.fit_transform(df)
#Xtrain=T1.tranform(Xtrain)
#Xtest=T.transform(Xtest)

In [29]:
df_ss=pd.DataFrame(df_ss)

In [30]:
df_ss

          0         1         2
0 -1.566699 -1.566699 -1.320676
1 -1.218544 -1.218544 -1.144586
2 -0.870388 -0.870388 -0.968496
3 -0.522233 -0.522233 -0.792406
4 -0.174078 -0.174078 -0.616316
5  0.174078  0.174078  0.616316
6  0.522233  0.522233  0.792406
7  0.870388  0.870388  0.968496
8  1.218544  1.218544  1.144586
9  1.566699  1.566699  1.320676